body{
    background-color:antiquewhite;
    color:#505050;
}
h1{font-size: 30px;}
h2{font-style: italic;color:#505050;font-weight:800;font-size:18;} 
p{font-size:18px;}
ol{font-size: 18px;}
ul{font-size: 18px;}

.topdiv{
    /*background setting*/
    animation: backgroundpattern infinite 10s;
    max-width: 100%;
    max-height: auto;
    display: block; /*for element to take up the whole width*/
    margin: -15px; /*remove the small gap of the margin*/
    padding: 28px; /*add space around the element*/
    /*font setting*/
    font-family: "Great Vibes", cursive;
    font-weight:normal;
    font-size: 20px;
    color:black;
    text-shadow: 0 2px 2px #fff;
}
@keyframes backgroundpattern {
    0% {background:#fdcb6e;}
    100% {background-image:url(background.jpeg);background-repeat:no-repeat;}
}

.empLinkStyle{color: #500000; font-weight: bolder; cursor: alias; text-decoration: none;}
.welcomeStyle{text-align:center;font-size: 25px;color:#fff; text-shadow: 0 3px 3px #850303;font-weight: bolder;}
.myPhoto{width:200px;}
.webLinkStyple{color:blue; cursor: alias;}
.contactStyle{font-weight: bold;font-size:large;color: #505050;}
